body{
    margin: 0;
    padding: 0;
    background-color: black;
    }
    .divnav{
        background-color: rgb(48, 47, 47);
        position: absolute;
        top: 1px;
        width: 1400px;
        height: 80px;
    }
.head{
    position: absolute;
    top: 20px;
    left: 50px;
    color: white;
}
.nav{
    display: flex;
    padding-left: 600px;
    font-size: 20px;
    position: absolute;
    top: -25px;
}
a{
    text-decoration: none;
    color: white;
    padding: 55px;
}
.img{
    position: absolute;
    animation: slideLeft 2s ease-in-out forwards;
    }
    @keyframes slideLeft {
        from {
        opacity: 0;
        left: 150px;
        top: 150px;
        }
        to {
            opacity: 1;
            left: 850px;
            top: 150px;
        }
    }
    
.body{
    color: white;
    position: absolute;
    top: 100px;
    left: 100px;
}
.line{
    position: absolute;
    top: 30px;
}