body{
    margin: 0;
    padding: 0;
    background-color: black;
    max-width: 900px;
    }
    .divnav{
        background-color: rgb(48, 47, 47);
        position: absolute;
        top: 1px;
        width: 1370px;
        height: 80px;
    }
.head{
    position: absolute;
    top: 20px;
    left: 50px;
    color: white;
}
.nav{
    display: flex;
    padding-left: 600px;
    font-size: 20px;
    position: absolute;
    top: -25px;
}
a{
    text-decoration: none;
    color: white;
    padding: 55px;
}
.img{
position: relative;
animation: slideLeft 2s ease-in-out forwards;
}
@keyframes slideLeft {
    from {
    right: -70%;
    opacity: 0;
    top: 80px;
    }
    to {
        right: 0;
        opacity: 1;
        top: 80px;
    }
}

.heading{
    color: white;
    padding-left: 700px;
    font-size: 50px;
}
.my{
    position: absolute;
    top: 140px;
}
.portfolio{
    position: absolute;
    top: 250px;
}
.line{
    position: absolute;
    color: grey;
    top: 170px;
    left: 850px;
}
.list{
    color: white;
    padding-left: 700px;
    position: absolute;
    top: 500px;

}
